

<header class="header">

    <div class="logo-section">

        <div class="logo">

           

        </div>

        <div class="company">

            <h2>Smart WMS</h2>
            <span>Warehouse Management System</span>

        </div>

    </div>

    <div class="header-right">

        <div class="notification">
        </div>

        <div class="user">

            <div class="avatar">
                J
            </div>

            <div class="user-info">

                <h4>Joel</h4>
                <span>Warehouse Admin</span>

            </div>

        </div>

       <button class="logout-btn" (click)="logout()">

    Logout
</button>

    </div>

</header>

