
<div class="sidebar">

<div class="menu">

<a href="./dashboard" class="active">



<span>Dashboard</span>

</a>

<a href="./poqr">



<span>PO QR Generator</span>

</a>

<a href="./recieve">



<span>Receiving Verification</span>

</a>

<a href="./porecieve">



<span>PO Receiving item</span>

</a>

<!-- <a href="#">

<i class="fa-solid fa-layer-group"></i>

<span>Binning</span>

</a> -->

<a href="./issue">



<span>Issue item Verification</span>

</a>

<!-- <a href="#">

<i class="fa-solid fa-gear"></i>

<span>Settings</span>

</a> -->

</div>

<div class="bottom">

<div class="version">

Version 2.0

</div>

</div>

</div>

